@model IEnumerable<OverripeBananas.Models.Episodes>


@{
    ViewData["Title"] = "Episodes";
}

<h2 style="color:#f8e61f;">Episodes</h2>

<p>
    <a class="btn btn-info" asp-action="Create">Create New</a>
</p>
<table class="table stripe row-border order-column" id="episodeGrid" style="background-color:#f8e61f;">
    <thead>
        <tr>
                <th style="border-right: 3px dashed grey; text-align: center;">
                    @Html.DisplayNameFor(model => model.ShowName)
                </th>
                <th style="border-right: 3px dashed grey; text-align: center;">
                    @Html.DisplayNameFor(model => model.Season)
                </th>
                <th style="border-right: 3px dashed grey; text-align: center;">
                    @Html.DisplayNameFor(model => model.EpisodeNumber)
                </th>
                <th style="border-right: 3px dashed grey; text-align: center;">
                    @Html.DisplayNameFor(model => model.EpisodeName)
                </th>
                <th style="border-right: 3px dashed grey; text-align: center;">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th style="border-right: 3px dashed grey; text-align: center;">
                    @Html.DisplayNameFor(model => model.BestCharacter)
                </th>
                <th style="border-right: 3px dashed grey; text-align: center;">
                    @Html.DisplayNameFor(model => model.HumorRating)
                </th>
                <th style="border-right: 3px dashed grey; text-align: center;">
                    @Html.DisplayNameFor(model => model.StoryRating)
                </th>
                <th style="border-right: 3px dashed grey; text-align: center;">
                    @Html.DisplayNameFor(model => model.OverallGrade)
                </th>
                <th>

                </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-bordered">
    @foreach (var item in Model) {
        <tr>
            <td style="border-right: 3px dashed grey; text-align: center;">
                <a asp-action="Details" asp-route-id="@item.ID">
                    @Html.DisplayFor(modelItem => item.ShowName)
                </a>
            </td>
            <td style="border-right: 3px dashed grey; text-align: center;">
                @Html.DisplayFor(modelItem => item.Season)
            </td>
            <td style="border-right: 3px dashed grey; text-align: center;">
                @Html.DisplayFor(modelItem => item.EpisodeNumber)
            </td>
            <td style="border-right: 3px dashed grey; text-align: center;">
                @Html.DisplayFor(modelItem => item.EpisodeName)
            </td>
            <td style="border-right: 3px dashed grey; text-align: center;">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td style="border-right: 3px dashed grey; text-align: center;">
                @Html.DisplayFor(modelItem => item.BestCharacter)
            </td>
            <td style="border-right: 3px dashed grey; text-align: center;">
                @Html.DisplayFor(modelItem => item.HumorRating)
            </td>
            <td style="border-right: 3px dashed grey; text-align: center;">
                @Html.DisplayFor(modelItem => item.StoryRating)
            </td>
            <td style="border-right: 3px dashed grey; text-align: center;">
                @Html.DisplayFor(modelItem => item.OverallGrade) 
            </td>
            <td style="width: 175px;">
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-info" style="width: 66px; margin-left: 10px;">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger" style="margin-left: 3px;">Delete</a>
            </td>
        </tr>
}
    </tbody>
    <tfoot>

    </tfoot>
</table>
