@model OverripeBananas.Models.Show

@{
    ViewData["Title"] = "Delete";
}

<h2 class="yellowFont">Delete</h2>

<h3 class="yellowFont">Are you sure you want to delete @Model.Title?</h3>
<div>
    <hr />
    <dl class="dl-horizontal yellowFont">
        <input type="hidden" asp-for="ID" />
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
    
    <form asp-action="Delete" style="margin-left: 100px; margin-top: 40px;">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> <span class="yellowFont">|</span>
            <a asp-action="Index" class="btn btn-default yellowBG">Back to List</a>
        </div>
    </form>
</div>
