@model OverripeBananas.Models.Show

@{
    ViewData["Title"] = "Details";
}

<h2 class="yellowFont">Details</h2>

<div>
    <h4 class="yellowFont">Show</h4>
    <hr />
    <dl class="dl-horizontal yellowFont">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<div style="margin-left: 105px; margin-top: 35px;">
    <a asp-action="Index" class="btn btn-info">Back to List </a> |
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-info">Edit</a> 
</div>
