@model OverripeBananas.Models.ShowGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Shows</h2>

<p>
    <a class="btn btn-default btn-md" asp-action="Create" style="width: 120px;">Add New Show</a>
</p>

<button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#myModal" style="margin-bottom: 45px; width: 120px;">Filter Shows</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Filter by...</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/Shows/Filter.cshtml", Model)
            </div>
        </div>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.shows[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.shows[0].Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.shows[0].Rating)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.shows) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
